---
layout: default
title: Snips
permalink: /snips/
---

<div id="main">
  <article>
    <header class="major">
      <h2 class="post-title">{{ page.title }}</h2>
      <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
    </header>
    <section class="post-content">
      {{ content }}
    </section>
  </article>
</div>



<script>
  var URL = "https://api.github.com/users/jaxgeller/gists";
  var container = document.querySelector('.post-content');

  $.get(URL, function(r) {
    r.forEach(function(gist){
      $.getJSON("https://gist.github.com/jaxgeller/"+gist.id+".json?callback=?", function(data) {
        var snippet = document.createElement('div');
          snippet.classList.add('snippet');

        var title = document.createElement('h3');
          title.textContent = gist.description;

        var content = document.createElement('div');
          content.innerHTML = data.div

        var sheet = document.createElement('link');
          sheet.href= data.stylesheet;
          sheet.rel = "stylesheet";

        snippet.appendChild(title);
        snippet.appendChild(sheet);
        snippet.appendChild(content);
        container.appendChild(snippet)
      });
    });
  });
</script>
